.irc-view {
	overflow-y:scroll;
	flex-grow: 1;
}

.irc-view table {
	border-collapse:collapse;
	width:100%;
}
.irc-view tr td:nth-child(1) {
	width:10px;
}
.irc-view tr td:nth-child(2) {
	text-align:right;
	padding-left:1em;
	white-space:nowrap;
	width:10px;
}

.irc-view td {
	border-left: 0;
	border-right:0;
	padding:0.3em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.irc-entry > div > form {
	display:flex;
	flex-direction:row;
}

.irc-entry > div > form > input[type="text"] {
	flex-grow:1;
}

.irc-entry > div > form > input[type="submit"] {
	flex-grow:0;
}

@media only screen and (max-device-width: 800px) { 
.irc-user-message {
	background-color: rgba(255, 255, 255, 0.4);
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
.irc-user-message > ul li {
display:block;
float:left;
clear:none;
margin: 0.2em;
font-size:0.85em;
}
.irc-view {
clear:both;
overflow:scroll;
}
}
@media only screen and (min-device-width: 800px) { 
.irc-user-message {
    display: flex;
    flex-direction: row;
    overflow: hidden;
	background-color: rgba(255, 255, 255, 0.4);
}
}

.irc-user-message > ul {
	margin:0;
	padding:0.2em;
	min-width:100px;
	border-right: 1px solid gray;
}
