@import url(/css/lists.css);
@import url(/css/two-panes.css);
@import url(/css/sidebar.css);
@import url(/css/photos.css);
@import url(/css/irc.css);

* {
    font-family: Cantarell, sans-serif;
}

body {
	background-color: #e3f3ff;
	margin:0;
	padding:0;
}

h1 {
	margin: 0.3em;
	font-size: 1.1em;
}

input[type="text"],  input[type="submit"], label, input[type="password"] {
	border:0;
	border: 1px solid lightgrey;
	padding: 0.5em;
	font-size:1em;
	display:block;
}

label > input[type="checkbox"] {
	display:block;
	float:left;
	margin:0;
	margin-right:1em;
}


input[type="text"]:focus {
	border-bottom: 1px solid blue;
}
.flex-wrapper {
	display: flex;
	flex-direction: column;
}
