@import url(/css/lists.css);
@import url(/css/two-panes.css);
@import url(/css/sidebar.css);
@import url(/css/photos.css);

* {
    font-family: Cantarell, sans-serif;
}

body {
	background-color: #e3f3ff;
}

.main-wrapper, .flex-wrapper {
	position:absolute;
	top:0;
	bottom:0;
	left:200px;
	right:0;
}
.main-wrapper {
	overflow-y:scroll;
}
.flex-wrapper {
	display:flex;
	flex-direction:column;
}
.irc-view {
	overflow-y:scroll;
}
